/* line 5, app/assets/stylesheets/posts.scss */
body, html {
  background-color: black !important;
  color: white !important;
}

/* line 10, app/assets/stylesheets/posts.scss */
.tags-cloud {
  padding: 10px;
}

/* line 14, app/assets/stylesheets/posts.scss */
.postField {
  padding-bottom: 8px;
}

/* line 18, app/assets/stylesheets/posts.scss */
.mt {
  margin-top: 0px;
}

/* line 21, app/assets/stylesheets/posts.scss */
.mb {
  margin-bottom: 0px;
}

/* line 25, app/assets/stylesheets/posts.scss */
.pt {
  padding-top: 0px;
}

/* line 28, app/assets/stylesheets/posts.scss */
.pb {
  padding-bottom: 0px;
}

/* line 32, app/assets/stylesheets/posts.scss */
.mb p {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 2px;
}

/* line 38, app/assets/stylesheets/posts.scss */
#player.full_frame {
  width: 500px;
  height: 500px;
}
/* line 1, app/assets/stylesheets/shop.scss */
#shopbody {
  position: relative;
  float: left;
  line-height: .75;
  color: black;
}
/* line 1, app/assets/stylesheets/ssc.scss */
.sscbody {
  position: relative;
  float: left;
  line-height: .75;
  color: black;
}

/* line 8, app/assets/stylesheets/ssc.scss */
.ssc img {
  width: 100%;
}
/* line 1, app/assets/stylesheets/tags.css.scss */
.css1 {
  font-size: 0.5em;
}

/* line 2, app/assets/stylesheets/tags.css.scss */
.css2 {
  font-size: 1.0em;
}

/* line 3, app/assets/stylesheets/tags.css.scss */
.css3 {
  font-size: 2.2em;
}

/* line 4, app/assets/stylesheets/tags.css.scss */
.css4 {
  font-size: 3.22em;
}
/* line 1, app/assets/stylesheets/works.scss */
.work {
  width: 300px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *




 */

label {
  color: white;
}

.pagination {
  display: inline-block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li {
  color: white;
  text-decoration: none;
  display: inline;
  padding-left: 16px;
  float: left;
}

.bContainer {
  padding-left: 32px;
}

.navvy {
  height: 96px;
  float:left;
  width: 100%;
}

.fatcattyLogo {
  display: inline;
  float: left;
}

.navItems {
  float:left;
  padding-left:8px;
  display: inline;
}

.navItem {
  display: inline-block;
  padding-left:8px;
  float:left;
}

.navItem a {
font-size: 24px;
}

.navItem img {
padding-right: 8px;
}
