<%= div_for work do %>
  <div class="large-12 columns border border-box glassy-bg mt pt" html="true">
    <strong><%= link_to h(work.title), work %></strong><br />
    <sup class="text-muted">from <%= time_ago_in_words(work.created_at)%> ago</sup><br />
    <div class="tags">
     <%= work.title)%>
    </div>
  </div>
<% end %>