  <% if admin_signed_in? %>
   <%= render partial: "works/new" %>
   <% else %>
  <% end %>
  <div style="display:inline;">
    <% @works.each do |work| %>
    <div style="width:325px;">
    <%= work.title %>
    <%= link_to image_tag(work.image), work %>
    </div>
  <% end %>
</div>
