<h2>works</h2>
<h4><%= sortable "created_at", "view dsc/asc" %></h4>
</div>
<% @works.each do |work| %>
  <div><%= work.title if work %></div>
  <div><%= link_to image_tag(work.image), work if work %></div>
<% end %>
<div><%= paginate @works %></div>
