<% if admin_signed_in? %>
<div id="newwork">
<div class="row text-center">
  <%= form_for(Work.new) do |f| %>
    <div>
      <%= f.text_field :title, placeholder: "title" %>
    </div>
    <div>
      <%= f.file_field :image %>
    </div>
    <div>
      <%= f.submit "s u b m i t", class: "button"%>
    </div>
  <% end %>
</div>
</div>
<% else %>
<p>get out of here, go away</p>
<% end %>
