<div class= "large-9 columns" id="aboutcontainer" style="float:left;">
<h3>Effie Gardens</h3>
  <p>this is where i'll publish progress<p>
  <p class="masterp">
    5-23
    my peppers have a arrived and i have to figure out how to care for them
    the rest of my stuff is arriving on friday and saturday
    because

      <style>
          li {
              margin-bottom: 10px;
          }
          .still-need {
              font-weight: bold;
              color: red;
          }
      </style>
  <h1>Shopping Materials List:</h1>
  <ul>
    <li>Pepper plants - yes</li>
    <li>Lettuce seeds - yes</li>
    <li>Bean seeds - yes</li>
    <li>Raised beds - yes</li>
    <li>Trovel - yes</li>
    <li>Hoe - yes</li>
    <li>Claw - yes</li>
    <li>Gloves - yes</li>
    <li>Tote - yes</li>
    <li>Potting soil - yes</li>
    <li>Watering can - yes</li>
    <li>Hose - yes</li>
    <li>Planner book - yes</li>
  </ul>

  <h1>Still Need:</h1>
  <ul>
    <li class="still-need">Nutrition - Home Depot? Still need to decide</li>
    <li class="still-need">Cilantro plant - No, get at 365</li>
    <li class="still-need">Raised bed soil - Home Depot, Saturday morning</li>
  </ul>





  </p>
</div>
