<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:2px 1px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;vertical-align:top;}
.tg th{font-family:Arial, sans-serif;font-size:14px;padding:2px 1px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;width:75px;color:green;}
.tg .tg-fqys{background-color:#000000;color:#ffffff;vertical-align:top;text-align:left;}
.tg .tg-fqysz{background-color:#000000;color:#green;vertical-align:top;text-align:left;}
</style>
<div class= "large-9 columns" id="aboutcontainer" style="float:left;">
  <%= image_tag("score_header.png") %><br>

<p>12/14/16 - cc par 3 - barbarian puttboy</p>
<table class="tg">
  <tr style="border-bottom:solid 1px;">
    <th class="tg-fqysz" style="width:165px">player</th>
    <th class="tg-fqysz">1</th>
    <th class="tg-fqysz">2</th>
    <th class="tg-fqysz">3</th>
    <th class="tg-fqysz">4</th>
    <th class="tg-fqysz">5</th>
    <th class="tg-fqysz">6</th>
    <th class="tg-fqysz">7</th>
    <th class="tg-fqysz">8</th>
    <th class="tg-fqysz">9</th>
    <th class="tg-fqysz">-</th>
    <th class="tg-fqysz">T(27)</th>
  </tr>
  <tr>
    <td class="tg-fqys">child soldier</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td></td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+15(42)</td>
  </tr>
    <tr>
    <td class="tg-fqys">major league</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">3</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+15(42)</td>
  </tr>
</table>

<p>12/6/16 - comfort buckhorn championship - big wet boys</p>
<table class="tg">
  <tr style="border-bottom:solid 1px;">
    <th class="tg-fqysz" style="width:165px">player</th>
    <th class="tg-fqysz">1(4)</th>
    <th class="tg-fqysz">2(4)</th>
    <th class="tg-fqysz">3(5)</th>
    <th class="tg-fqysz">4(3)</th>
    <th class="tg-fqysz">5(4)</th>
    <th class="tg-fqysz">6(5)</th>
    <th class="tg-fqysz">7(3)</th>
    <th class="tg-fqysz">8(4)</th>
    <th class="tg-fqysz">9(4)</th>
    <th class="tg-fqysz">-</th>
    <th class="tg-fqysz"> T(36)</th>
  </tr>
  <tr>
    <td class="tg-fqys">child soldier</td>
    <td class="tg-fqys"> 6</td>
    <td class="tg-fqys"> 6</td></td>
    <td class="tg-fqys"> 9</td>
    <td class="tg-fqys"> 4</td>
    <td class="tg-fqys"> 6</td>
    <td class="tg-fqys"> 7</td>
    <td class="tg-fqys"> 5</td>
    <td class="tg-fqys"> 5</td>
    <td class="tg-fqys"> 6</td>
    <td class="tg-fqys"> -</td>
    <td class="tg-fqys">+18(54)</td>
  </tr>
    <tr>
    <td class="tg-fqys">major league</td>
    <td class="tg-fqys"> 8</td>
    <td class="tg-fqys"> 4</td>
    <td class="tg-fqys"> 8</td>
    <td class="tg-fqys"> 3</td>
    <td class="tg-fqys"> 5</td>
    <td class="tg-fqys"> 8</td>
    <td class="tg-fqys"> 3</td>
    <td class="tg-fqys"> 5</td>
    <td class="tg-fqys"> 6</td>
    <td class="tg-fqys"> -</td>
    <td class="tg-fqys">+14(50)</td>
  </tr>
</table>

<p>12/3/16 - cc par 3 - momby</p>
<table class="tg">
  <tr style="border-bottom:solid 1px;">
    <th class="tg-fqysz" style="width:165px">player</th>
    <th class="tg-fqysz">1</th>
    <th class="tg-fqysz">2</th>
    <th class="tg-fqysz">3</th>
    <th class="tg-fqysz">4</th>
    <th class="tg-fqysz">5</th>
    <th class="tg-fqysz">6</th>
    <th class="tg-fqysz">7</th>
    <th class="tg-fqysz">8</th>
    <th class="tg-fqysz">9</th>
    <th class="tg-fqysz">-</th>
    <th class="tg-fqysz">T(27)</th>
  </tr>
  <tr>
    <td class="tg-fqys">mushr00m</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td></td>
    <td class="tg-fqys">8</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+27(54)</td>
  </tr>
    <tr>
    <td class="tg-fqys">major league</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">3</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+13(40)</td>
  </tr>
</table>
  
<p>11/16/16 - cc par 3 - quick and clear rdy to jet</p>
<table class="tg">
  <tr style="border-bottom:solid 1px;">
    <th class="tg-fqysz" style="width:165px">player</th>
    <th class="tg-fqysz">1</th>
    <th class="tg-fqysz">2</th>
    <th class="tg-fqysz">3</th>
    <th class="tg-fqysz">4</th>
    <th class="tg-fqysz">5</th>
    <th class="tg-fqysz">6</th>
    <th class="tg-fqysz">7</th>
    <th class="tg-fqysz">8</th>
    <th class="tg-fqysz">9</th>
    <th class="tg-fqysz">-</th>
    <th class="tg-fqysz">T(27)</th>
  </tr>
  <tr>
    <td class="tg-fqys">mr shamu </td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">3</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">3</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+13(40)</td>
  </tr>
    <tr>
    <td class="tg-fqys">major league</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys" style="color:pink;">2</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+16(43)</td>
  </tr>
</table>

<p>11/??/16 - cc par 3 - double day go twice coors latte</p>
<table class="tg">
  <tr style="border-bottom:solid 1px;">
    <th class="tg-fqysz" style="width:165px">player</th>
    <th class="tg-fqysz">1</th>
    <th class="tg-fqysz">2</th>
    <th class="tg-fqysz">3</th>
    <th class="tg-fqysz">4</th>
    <th class="tg-fqysz">5</th>
    <th class="tg-fqysz">6</th>
    <th class="tg-fqysz">7</th>
    <th class="tg-fqysz">8</th>
    <th class="tg-fqysz">9</th>
    <th class="tg-fqysz">-</th>
    <th class="tg-fqysz">T(27)</th>
  </tr>
  <tr>
    <td class="tg-fqys">major league</td>
    <td class="tg-fqys">3</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">8</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+19(46)</td>
  </tr>
  <tr>
    <td class="tg-fqys">child soldier</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">3</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+17(44)</td>
  </tr>
    <tr>
    <td class="tg-fqys">major league</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">3</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+14(41)</td>
  </tr>
    <tr>
    <td class="tg-fqys">child soldier</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+22(49)</td>
  </tr>
</table>  

<p>11/??/16 - cc par 3 - unleashed</p>
<table class="tg">
  <tr style="border-bottom:solid 1px;">
    <th class="tg-fqysz" style="width:165px">player</th>
    <th class="tg-fqysz">1</th>
    <th class="tg-fqysz">2</th>
    <th class="tg-fqysz">3</th>
    <th class="tg-fqysz">4</th>
    <th class="tg-fqysz">5</th>
    <th class="tg-fqysz">6</th>
    <th class="tg-fqysz">7</th>
    <th class="tg-fqysz">8</th>
    <th class="tg-fqysz">9</th>
    <th class="tg-fqysz">-</th>
    <th class="tg-fqysz">T(27)</th>
  </tr>
  <tr>
    <td class="tg-fqys">rich willy </td>
    <td class="tg-fqys">9</td>
    <td class="tg-fqys">9</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">9</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+34(61)</td>
  </tr>
  <tr>
    <td class="tg-fqys">child soldier</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+14(41)</td>
  </tr>
    <tr>
    <td class="tg-fqys">major league</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">3</td>
    <td class="tg-fqys">3</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+14(41)</td>
  </tr>
</table>

<p>10/??/16 - cc par 3 - kinda early 4 us but nice</p>
<table class="tg">
  <tr style="border-bottom:solid 1px;">
    <th class="tg-fqysz" style="width:165px">player</th>
    <th class="tg-fqysz">1</th>
    <th class="tg-fqysz">2</th>
    <th class="tg-fqysz">3</th>
    <th class="tg-fqysz">4</th>
    <th class="tg-fqysz">5</th>
    <th class="tg-fqysz">6</th>
    <th class="tg-fqysz">7</th>
    <th class="tg-fqysz">8</th>
    <th class="tg-fqysz">9</th>
    <th class="tg-fqysz">-</th>
    <th class="tg-fqysz">T(27)</th>
  </tr>
  <tr>
    <td class="tg-fqys">child soldier</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+16(43)</td>
  </tr>
    <tr>
    <td class="tg-fqys">major league</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+20(47)</td>
  </tr>
</table>

<p>10/??/16 - cc par 3 - part of a looong day</p>
<table class="tg">
  <tr style="border-bottom:solid 1px;">
    <th class="tg-fqysz" style="width:165px">player</th>
    <th class="tg-fqysz">1</th>
    <th class="tg-fqysz">2</th>
    <th class="tg-fqysz">3</th>
    <th class="tg-fqysz">4</th>
    <th class="tg-fqysz">5</th>
    <th class="tg-fqysz">6</th>
    <th class="tg-fqysz">7</th>
    <th class="tg-fqysz">8</th>
    <th class="tg-fqysz">9</th>
    <th class="tg-fqysz">-</th>
    <th class="tg-fqysz">T(27)</th>
  </tr>
  <tr>
    <td class="tg-fqys">mr shamu </td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+20(47)</td>
  </tr>
  <tr>
    <td class="tg-fqys">child soldier</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+21(48)</td>
  </tr>
    <tr>
    <td class="tg-fqys">major league</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+23(50)</td>
  </tr>
</table>

<p>10/??/16 - cc par 3 - sometime around halloween</p>
<table class="tg">
  <tr style="border-bottom:solid 1px;">
    <th class="tg-fqysz" style="width:165px">player</th>
    <th class="tg-fqysz">1</th>
    <th class="tg-fqysz">2</th>
    <th class="tg-fqysz">3</th>
    <th class="tg-fqysz">4</th>
    <th class="tg-fqysz">5</th>
    <th class="tg-fqysz">6</th>
    <th class="tg-fqysz">7</th>
    <th class="tg-fqysz">8</th>
    <th class="tg-fqysz">9</th>
    <th class="tg-fqysz">-</th>
    <th class="tg-fqysz">T(27)</th>
  </tr>
  <tr>
    <td class="tg-fqys">justin daniel green</td>
    <td class="tg-fqys">9</td>
    <td class="tg-fqys">10</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+30(57)</td>
  </tr>
  <tr>
    <td class="tg-fqys">child soldier</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">3</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+14(41)</td>
  </tr>
    <tr>
    <td class="tg-fqys">major league</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">8</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+22(49)</td>
  </tr>
    <tr>
    <td class="tg-fqys">beans</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">8</td>
    <td class="tg-fqys">8</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">10</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">+28(55)</td>
  </tr>
</table>

  <%= image_tag("golf_footer.gif") %>
</div>