<div class= "large-9 columns" id="aboutcontainer" style="float:left;">
  <%= image_tag("score_header.png") %><br>
  
  
  
  <TABLE style="background-color: #4CAF50;
    color: white;">
   <TR>
      <TD>player</TD>
      <TD>1</TD>
      <TD>2</TD>
      <TD>3</TD>
      <TD>4</TD>
      <TD>5</TD>
      <TD>6</TD>
      <TD>7</TD>
      <TD>8</TD>
      <TD>9</TD>
      <TD>-</TD>
      <TD>T</TD>
   </TR>
   <TR>
      <TD>player</TD>
      <TD>1</TD>
      <TD>2</TD>
      <TD>3</TD>
      <TD>4</TD>
      <TD>5</TD>
      <TD>6</TD>
      <TD>7</TD>
      <TD>8</TD>
      <TD>9</TD>
      <TD>-</TD>
      <TD>T</TD>
   </TR>
   <TR>
      <TD>player</TD>
      <TD>1</TD>
      <TD>2</TD>
      <TD>3</TD>
      <TD>4</TD>
      <TD>5</TD>
      <TD>6</TD>
      <TD>7</TD>
      <TD>8</TD>
      <TD>9</TD>
      <TD>-</TD>
      <TD>T</TD>
   </TR>
</TABLE>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <%= image_tag("golf_footer.gif") %>
</div>