<div class= "large-9 columns" id="aboutcontainer" style="float:left;">
  <%= image_tag("score_header.png") %><br>
  
  
  
 <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:2px 1px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;padding:2px 1px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;width:95px;}
.tg .tg-fqys{background-color:#000000;color:#ffffff;vertical-align:top;text-align:left;}
</style>
<table class="tg">
  <tr style="border-bottom:solid 1px;">
    <th class="tg-fqys" style="width:165px;color:green;">player</th>
    <th class="tg-fqys">1</th>
    <th class="tg-fqys">2</th>
    <th class="tg-fqys">3</th>
    <th class="tg-fqys">4</th>
    <th class="tg-fqys">5</th>
    <th class="tg-fqys">6</th>
    <th class="tg-fqys">7</th>
    <th class="tg-fqys">8</th>
    <th class="tg-fqys">9</th>
    <th class="tg-fqys">-</th>
    <th class="tg-fqys">T</th>
  </tr>
  <tr>
    <td class="tg-fqys">justin daniel green</td>
    <td class="tg-fqys">9</td>
    <td class="tg-fqys">10</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">7</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">57</td>
  </tr>
  <tr>
    <td class="tg-fqys">child soldier</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">3</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">41</td>
  </tr>
    <tr>
    <td class="tg-fqys">major league</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">8</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">49</td>
  </tr>
    <tr>
    <td class="tg-fqys">beans</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">8</td>
    <td class="tg-fqys">8</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">10</td>
    <td class="tg-fqys">4</td>
    <td class="tg-fqys">6</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">5</td>
    <td class="tg-fqys">-</td>
    <td class="tg-fqys">55</td>
  </tr>
</table>
  <%= image_tag("golf_footer.gif") %>
</div>