<div class= "large-9 columns" id="aboutcontainer" style="float:left;">
  <h2>More Pages:</h2>
  <ul>
    <li style="font-size:24px"><a href="../tunes"><%= image_tag("music.png") %> tunes </a></li>
    <li style="font-size:24px"><a href="../golf"><%= image_tag("golf.png") %> golf </a></li>
    <li style="font-size:24px"><a href="../ssc"><%= image_tag("sscico.png") %> smileysuncoin </a></li>
    <li style="font-size:24px"><a href="../carfool"><%= image_tag("bullet.png") %>carfool </a></li>
  </ul>
</div>
