
<div class="large-3 columns" id="shopbody">
  <div id="perproduct">
  <p style="font-style:italic;color:white;">limited edition fatcatty long sleeve - preorder
    order now and earn a <br> [special gift 3/3 remaining]</p>
    <center><%= image_tag("logonav_old.png") %></center>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="PKZLGBLTQZWMC">
      <table>
        <tr><td><input type="hidden" name="on0" color="white" value="Size">size</td></tr><tr><td><select name="os0">
          <option value="Small">Small $26.66 USD</option>
          <option value="Medium">Medium $26.66 USD</option>
          <option value="Large">Large $26.66 USD</option>
          <option value="XL">XL $26.66 USD</option>
        </select> </td></tr>
      </table>
      <input type="hidden" name="currency_code" value="USD">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>
