<div class= "large-9 columns" id="aboutcontainer" style="float:left;">
  arizona
  new mexico
  texas
  oklahoma
  mississippi
  louisiana
  tennessee
  arkansas
  kentucky
  ohio
  pennsylvania
  west virginia
  maryland
  delaware
  new jersey
  new york
  connecticut
  rhode island
  massachusetts
  new hampshire
  maine
  vermont
  ontatio, ca
  michigan
  indiana
  illinois
  missouri
  kansas
  colorado
  utah
  nevada
</div>
