<h2>tunes</h2>
<p>think you got a hit? <%= mail_to "tunes@fatcatty.com", "tunes@fatcatty.com", body: "artist - title .mp3" %></p>
<div id="aboutcontainer" style="float:left;padding-left:8px;">
  <p>4/15/20</p>
  <div class="songDiv">
    <h3>b@b - iced teen</h3>
    <audio controls>
      <source src="https://matthewftcbucky.s3-us-west-2.amazonaws.com/songs/iced+teen.mp3" type="audio/mp3">
    </audio>
  </div>
  <div class="songDiv">
    <h3>child soldier - american blood</h3>
    <audio controls>
      <source src="https://matthewftcbucky.s3-us-west-2.amazonaws.com/songs/01+american+blood.mp3" type="audio/mp3">
    </audio>
  </div>
  <div class="songDiv">
    <h3>b@b - highland park hotel</h3>
    <audio controls>
      <source src="https://matthewftcbucky.s3-us-west-2.amazonaws.com/songs/highland+park+hotel.mp3" type="audio/mp3">
    </audio>
  </div>
  <div class="songDiv">
    <h3>b@b - stop the world</h3>
    <audio controls>
      <source src="https://matthewftcbucky.s3-us-west-2.amazonaws.com/songs/stop+the+world.mp3" type="audio/mp3">
    </audio>
  </div>
  <div class="songDiv">
    <h3>b@b - is it funny</h3>
    <audio controls>
      <source src="https://matthewftcbucky.s3-us-west-2.amazonaws.com/songs/is+it+funny.mp3" type="audio/mp3">
    </audio>
  </div>
  <div class="songDiv">
    <h3>k - calls</h3>
    <audio controls>
      <source src="https://matthewftcbucky.s3-us-west-2.amazonaws.com/songs/k+calls.mp3" type="audio/mp3">
    </audio>
  </div>
  <div class="songDiv">
    <h3>child soldier - king of the tides</h3>
    <audio controls>
      <source src="https://matthewftcbucky.s3-us-west-2.amazonaws.com/songs/king+of+the+tides.mp3" type="audio/mp3">
    </audio>
  </div>
  <div class="songDiv">
    <h3>b@b - child soldiers hell</h3>
    <audio controls>
      <source src="https://matthewftcbucky.s3-us-west-2.amazonaws.com/songs/child+soldiers+hell.mp3" type="audio/mp3">
    </audio>
  </div>
  <div class="songDiv">
    <h3>b@b - ojsbroncho</h3>
    <audio controls>
      <source src="https://matthewftcbucky.s3-us-west-2.amazonaws.com/songs/ojsbroncho.mp3" type="audio/mp3">
    </audio>
  </div>
  <div class="songDiv">
    <h3>b@b - pedrolosfeliz</h3>
    <audio controls>
      <source src="https://matthewftcbucky.s3-us-west-2.amazonaws.com/songs/pedrolosfeliz.mp3" type="audio/mp3">
    </audio>
  </div>
  <div class="songDiv">
    <h3>kohop - avjn1</h3>
    <audio controls>
      <source src="https://matthewftcbucky.s3-us-west-2.amazonaws.com/songs/avjn1.mp3" type="audio/mp3">
    </audio>
  </div>
</div>
