<div class="archives">
	<h2>archive</h2>
	<% @post_months.sort.reverse.each do |month, posts| %>
	<h5><%=h month.strftime("%B %Y") %></h5>
	<ul>
		<% for post in posts %>
		<li><%=h link_to post.title, post_path(post) %> - <%= number_with_precision(post.score, :precision => 0) %></li>
		<% end %>
	</ul>
	<% end %>
</div>