<div class="row small-12 mt pt">
  <div class="large-5 columns">
    <div class="top-pad glassy-bg">
      <%= render partial: "posts/new" %>
    </div>
  </div>
  <div class= "large-7 columns" id="posts">
    <%= render partial: @posts.reverse %>
  </div>
</div>


<div class= "large-12 columns" id="posts">
  <%= render partial: @posts.reverse %>
</div>