<%= render partial: "posts/new" %>
  <div class="large-9 columns" id="posts">
    <%= render partial: @posts %>
  </div>
    <div id="pagi" class="large-9 columns">
      <%= paginate @postspag %>
    </div>
  <div class="tags-cloud glassy-bg large-12 columns">
    <h4> tag cloud</h4>
    <% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>