<% if admin_signed_in? %>
<%= link_to "new post", posts_new_path %>
<% else %>
<% end %>
<h2>blog</h2>
<%= render partial: @posts %>
</div>
<div><%= paginate @posts %></div>
<div class="tags-cloud">
  <h4> tag cloud</h4>
  <% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
