/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require tags

 */

label {
  color: white;
}

a {
  color: rgb(48, 128, 222);
}

.pagination {
  display: inline-block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li {
  color: white;
  text-decoration: none;
  display: inline;
  padding-left: 16px;
  float: left;
}

.bContainer {
  padding-left: 32px;
  clear:both;
}

.navvy {
  float:left;
  width: 100%;
  padding-bottom: 16px;
  padding-left: 32px;
}

.fatcattyLogo {
  display: inline;
  float: left;
}

.navItems {
  padding-top: 16px;
  padding-left: 16px;
}

.navItems ul {
  list-style-type: none;
  margin: 0;
  padding-left: 8px;
  overflow: hidden;
}

.navItems li {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
}

.navItems li a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  text-align: left;
}

.dropbtn li a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}

.dropbtn li {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}

.dropbtn li a img {
  padding-right: 8px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px 8px 8px 8px;
  text-decoration: none;
  font-size: 24px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 16px 8px 16px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: black;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: red;}

.dropdown:hover .dropdown-content {
  display: block;
}

.archiveList li a {
  display: inline-block;
  text-decoration: none;
  padding-left: 2px;
  padding-top: 0px;
}

.archiveList a:hover {
  background-color: blue;
}

.postTitle a {
  font-size: 32px;
}

a:visited {
  color: #e3b0ff;
}

.textMuted {
  font-size: 100%;
}

.postSpacer {
  padding-bottom: 8px;
}
