/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require tags

 */

label {
  color: white;
}

.pagination {
  display: inline-block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li {
  color: white;
  text-decoration: none;
  display: inline;
  padding-left: 16px;
  float: left;
}

.bContainer {
  padding-left: 32px;
}

.navvy {
  height: 96px;
  float:left;
  width: 100%;
}

.fatcattyLogo {
  display: inline;
  float: left;
}

.navItems {
  float:left;
  padding-left:8px;
  display: inline;
}

.navItem {
  display: inline-block;
  padding-left:8px;
  float:left;
}

.navItem a {
font-size: 24px;
}

.navItem img {
padding-right: 8px;
}
