.work {
  width: 300px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 20px solid pink;
  border-image-source: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/hearts-border-image.png);
  border-image-slice: 22;
  border-image-width: 0 0 20px 0;
  border-image-repeat: round;
}