<div>
  <%= link_to image_tag("logonav.png"), root_path %>
  <%= link_to('archive', archives_path) %>
  view posts tagged:
    <a href="../tags/culture">culture</a>
    <a href="../tags/music">music</a>
    <a href="../tags/videos">videos</a>
      <% if admin_signed_in? %>
       <%= link_to('logout', destroy_admin_session_path) %>
      <% else %>
       <%= link_to('login', new_admin_session_path) %>
      <% end %>
</div>